    $primary-color:  #212121;
    $secondary-color: #757575;
    $accent-color: #2196f3;
    $active-text-color: #ffffff;
    $inactive-button-color: #f5f4fa;
    $footer-contacts-color: rgba(255, 255, 255, 0.6);
    $portfolio-border-color: #eeeeee;
    $background-footer-hero-color: #2f303a;

    $font-body: 'Roboto', sans-serif;

    $font-logo: 'raleway', sans-serif;